
.table-no-border.ui-panelgrid > * > tr,
.table-no-border.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.responsive-table-no-border > .ui-grid-responsive > * > tr,
.responsive-table-no-border > .ui-grid-responsive.ui-panelgrid-content {
    border: none;
}

.main-menu-button {
    width: 250px;
    height: 30px;
}